<section class="section">
  <div class="container-md my-5">
    <div class="row">
      <%= link_to "Create New Post", new_post_path, class: "nav-link" %>

      <div class="card border-light mb-3 col-12">
          <div class="card-header text-end px-5" style="background-color: #e3f2fd;">Author Name: Anonymous</div>
          <div class="card-body py-4">
              <h1 class="card-title text-uppercase text-center py-3 fs-2"> <%= @post.title %> </h1>
              <p class="card-text py-4 fs-4 text-justify"> <%= @post.content %> </p>
              <nav class="level">
                <hr>
                <div class="d-flex justify-content-evenly pt-4">
                    <%= link_to "Edit", edit_post_path(@post), class: "btn btn-outline-info w-25 text-uppercase fw-bolder fs-5" %>
                    <%= link_to "Destroy", post_path(@post), method: :delete, data: { confirm: "Are you sure you want to delete?" }, class: "btn btn-outline-danger w-25 text-uppercase fw-bolder fs-5" %>
                </div>
              </nav>
          </div>
      </div>
    </div>
  </div>
</section>

<% @post.errors.full_messages_for(:title).each do |message| %>
        <div> <%= message %> </div>
      <% end %>
<section class="comments"></section>


